/*
0-600px:        phone
600-900px:      tablet portrait
900-1200px:     tablet landscape
1200-1800px:    Normal style
1800px +:       Big desktop

$breakpoint argument choices:
- phone
- tabl-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes blink {
  0% {
    opacity: 0.5;
    transform: scale(1); }
  50% {
    opacity: 1;
    transform: scale(1.01); }
  100% {
    opacity: 0.5;
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #f4f4f4; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

::selection {
  background-color: #D4AF37;
  color: #A0362B; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #352B11;
  font-size: 3rem; }

h1 {
  font-size: 7.9rem;
  letter-spacing: 1rem; }

h2 {
  font-size: 4.9rem; }

h3 {
  font-size: 3.8rem;
  font-weight: 100; }

.small-text {
  font-size: 2.4rem !important; }

.tiny-text {
  font-size: 1.8rem; }

.btn {
  margin: 5rem;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.5s ease;
  background-color: green;
  cursor: pointer; }
  .btn__purple {
    background-color: #402A44;
    border: 1px solid #402A44; }
    .btn__purple:hover {
      border: 5px solid #D4AF37;
      background-color: #16001A;
      transform: scale(1.1); }
  .btn__gold {
    background-color: #D4AF37; }
    .btn__gold:hover {
      border: 5px solid #E7C24A;
      background-color: #9D7800;
      transform: scale(1.1); }

.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  width: 25rem;
  height: 35rem; }
  .card__side {
    height: 35rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    backface-visibility: hidden;
    border-radius: 20px;
    box-shadow: 15px 20px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden; }
    .card__side--front {
      background: linear-gradient(149.39deg, #d4af37 13.59%, #f8e6af 98.68%, #ffc820 98.69%);
      color: #fff;
      font-size: 3rem;
      font-weight: bold; }
      .card__side--front h3 {
        width: min-content; }
    .card__side--back {
      text-align: left;
      justify-content: flex-start;
      background-image: url(../img/card-back.png);
      transform: translateX(-10px);
      font-size: 0.9rem;
      transform: rotateY(180deg); }
      .card__side--back > * {
        margin: 0 3rem; }
      .card__side--back-title {
        margin: 5rem 0; }
      .card__side--back-title h3:last-of-type {
        margin: 0; }
      .card__side--back em.tiny-text span {
        font-size: 1.3rem; }
      .card__side--back h3 {
        width: min-content; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }

.project {
  width: 25rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: 10px 15px 4px rgba(0, 0, 0, 0.3);
  transition: all .7s;
  outline-offset: 2rem; }
  .project img {
    width: 100%;
    filter: blur(3px);
    transition: filter .5s; }
  .project p {
    margin: 0 1rem; }
  .project a {
    font-size: 1.8rem;
    align-self: flex-end;
    margin: 0 1.5rem 1rem;
    text-decoration: none; }
  .project:hover img {
    filter: blur(0); }
  .project:hover {
    outline: 1.5rem solid #D4AF37;
    transform: scale(1.05) translateY(-3rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

header {
  position: relative;
  width: 100%; }

.spiral {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-image: url("../../img/espiral-sombra.png");
  z-index: -2; }

.matrix {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-image: url("../../img/matrix.png");
  background-attachment: fixed;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0; }

.row {
  position: absolute;
  top: 3%;
  left: 2%;
  margin: 0 auto;
  display: flex;
  align-items: start;
  padding: 1rem; }
  .row .logo {
    min-width: 36vw; }
  .row .main-nav {
    display: flex;
    list-style: none;
    justify-content: space-between; }
    .row .main-nav li {
      background-color: #d4af3777;
      padding: 0.5rem 1rem;
      margin: 0 1rem;
      transition: all 0.5s; }
    .row .main-nav li a:link,
    .row .main-nav li a:visited {
      color: #352B11;
      text-decoration: none;
      font-size: inherit;
      border-bottom: 2px solid transparent;
      -webkit-transition: border-bottom 0.4s;
      transition: border-bottom 0.4s; }
    .row .main-nav li:hover,
    .row .main-nav li:active {
      background-color: #9d780077;
      border-bottom: 2px solid #A0362B; }

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .hero-text h1,
  .hero-text h2 {
    background: #d4af3777;
    padding: 0.5rem 3rem; }

.cloud {
  width: 100%;
  max-width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-image: url("../../img/cloud.png");
  height: 50rem;
  display: flex;
  justify-content: center; }
  .cloud .circle {
    background-color: #402A44;
    width: 100%;
    max-width: 70rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    align-self: center; }
    .cloud .circle img {
      margin: 2rem; }
    .cloud .circle h3 {
      color: #fff;
      font-weight: 100; }

.welcome {
  display: flex;
  position: relative; }
  .welcome :last-child {
    align-self: center; }
  .welcome .photo-hover {
    width: 25%;
    margin: 3rem;
    position: relative; }
    .welcome .photo-hover img {
      width: auto;
      height: 20rem;
      position: absolute; }
      .welcome .photo-hover img.secondary {
        opacity: 0;
        z-index: 1;
        transition: all 0.8s ease-in; }
        .welcome .photo-hover img.secondary:hover {
          opacity: 1; }
    .welcome .photo-hover:hover::before {
      visibility: hidden; }
    .welcome .photo-hover::before {
      content: "Pasa el mouse por encima";
      display: block;
      width: max-content;
      height: auto;
      color: #d4af3777;
      font-size: 1.6rem;
      animation: blink 1s infinite;
      animation-fill-mode: backwards; }
    .welcome .photo-hover:last-of-type img {
      margin-left: -14rem; }
    .welcome .photo-hover.photo-right::before {
      margin-left: -12rem; }

.welcome-text {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .welcome-text h1 {
    margin-left: 8rem; }
  .welcome-text .text-right {
    margin: 5rem -25rem 5rem 15rem; }
  .welcome-text .text-left {
    margin-left: -5rem;
    margin-right: 5rem;
    margin-bottom: 5rem; }

.services-buttons {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, minmax(max-content, min-content));
  grid-row-gap: 10rem;
  margin: 15rem 5rem;
  justify-content: center; }
  .services-buttons .service {
    border: 5px solid #402A44;
    border-radius: 50%;
    padding: 4rem 2rem;
    background-color: #402A44;
    color: #fff;
    margin: 0 -2rem;
    cursor: pointer;
    transition: all 0.5s ease; }
    .services-buttons .service:hover {
      border: 5px solid #D4AF37;
      background-color: #16001A;
      transform: scale(1.1); }
    .services-buttons .service--1 {
      grid-row: 1 / 1;
      grid-column: 1 / span 1; }
    .services-buttons .service--2 {
      grid-row: 1 / 1;
      grid-column: 3 / 4; }
    .services-buttons .service--3 {
      grid-row: 1 / 1;
      grid-column: 5 / span 1; }
      .services-buttons .service--3 h3 {
        font-size: 3rem; }
    .services-buttons .service--4 {
      grid-row: 2 / 2;
      grid-column: 2 / span 1; }
    .services-buttons .service--5 {
      grid-row: 2 / 2;
      grid-column: 4 / span 1; }
    .services-buttons .service--6 {
      grid-row: 2 / 2;
      grid-column: 6 / span 1; }

.services__title {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .services__title .photo-hover {
    width: 25%;
    margin: 3rem;
    position: relative;
    height: 40rem;
    display: flex;
    align-items: center; }
    .services__title .photo-hover img {
      width: auto;
      height: 20rem;
      position: absolute; }
      .services__title .photo-hover img.secondary {
        opacity: 0;
        z-index: 1;
        transition: all 0.8s ease-in; }
        .services__title .photo-hover img.secondary:hover {
          opacity: 1; }
    .services__title .photo-hover:hover::before {
      visibility: hidden; }
    .services__title .photo-hover::before {
      content: "Pasa el mouse por encima";
      display: block;
      width: max-content;
      height: auto;
      color: #d4af3777;
      font-size: 1.6rem;
      animation: blink 1s infinite;
      animation-fill-mode: backwards; }
    .services__title .photo-hover img {
      width: 30rem;
      height: auto; }
    .services__title .photo-hover::before {
      margin-top: -25rem; }
    .services__title .photo-hover.photo-right img {
      height: 35rem;
      width: auto;
      right: 0;
      margin-top: -10rem; }
    .services__title .photo-hover.photo-right::before {
      margin-top: -45rem;
      margin-left: 20rem; }

.services-cards {
  width: 1100px;
  margin: 10vh auto 15vh auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center; }

.card {
  margin: 3rem 5rem; }

.card:last-of-type h3 {
  margin: 2.5rem; }

.projects__title {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .projects__title .photo-hover {
    width: 25%;
    margin: 3rem;
    position: relative;
    height: 40rem;
    display: flex;
    align-items: center; }
    .projects__title .photo-hover img {
      width: auto;
      height: 20rem;
      position: absolute; }
      .projects__title .photo-hover img.secondary {
        opacity: 0;
        z-index: 1;
        transition: all 0.8s ease-in; }
        .projects__title .photo-hover img.secondary:hover {
          opacity: 1; }
    .projects__title .photo-hover:hover::before {
      visibility: hidden; }
    .projects__title .photo-hover::before {
      content: "Pasa el mouse por encima";
      display: block;
      width: max-content;
      height: auto;
      color: #d4af3777;
      font-size: 1.6rem;
      animation: blink 1s infinite;
      animation-fill-mode: backwards; }
    .projects__title .photo-hover img {
      width: 30rem;
      height: auto; }
    .projects__title .photo-hover::before {
      margin-top: -25rem; }
    .projects__title .photo-hover.photo-right img {
      width: 20rem;
      right: 0;
      margin-top: -10rem; }
    .projects__title .photo-hover:last-of-type::before {
      position: absolute;
      right: 0;
      margin-top: -12rem; }
  .projects__title .photo-hover:last-of-type img {
    width: 20rem;
    right: 0; }

.project__cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, min-content);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5rem 10rem; }
