/*
0-600px:        phone
600-900px:      tablet portrait
900-1200px:     tablet landscape
1200-1800px:    Normal style
1800px +:       Big desktop

$breakpoint argument choices:
- phone
- tabl-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #f4f4f4; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

::selection {
  background-color: #D4AF37;
  color: #A0362B; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #352B11;
  font-size: 3rem; }

h1 {
  font-size: 7.9rem; }

h2 {
  font-size: 4.9rem; }

h3 {
  font-size: 3.8rem;
  font-weight: 100; }

.small-text {
  font-size: 2.4rem !important; }

.tiny-text {
  font-size: 1.8rem; }

header {
  position: relative;
  width: 100%; }

.spiral {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-image: url("../../img/espiral-sombra.png");
  z-index: -2; }

.matrix {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-image: url("../../img/matrix.png");
  background-attachment: fixed;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0; }

.row {
  position: absolute;
  top: 3%;
  left: 2%;
  margin: 0 auto;
  display: flex;
  align-items: start;
  padding: 1rem; }
  .row .logo {
    min-width: 36vw; }
  .row .main-nav {
    display: flex;
    list-style: none;
    justify-content: space-between; }
    .row .main-nav li {
      background-color: #d4af3777;
      padding: 0.5rem 1rem;
      margin: 0 1rem;
      transition: all 0.5s; }
    .row .main-nav li a:link,
    .row .main-nav li a:visited {
      color: #352B11;
      text-decoration: none;
      font-size: inherit;
      border-bottom: 2px solid transparent;
      -webkit-transition: border-bottom 0.4s;
      transition: border-bottom 0.4s; }
    .row .main-nav li:hover,
    .row .main-nav li:active {
      background-color: #9d780077;
      border-bottom: 2px solid #A0362B; }

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .hero-text h1,
  .hero-text h2 {
    background: #d4af3777;
    padding: 0.5rem 3rem; }

.cloud {
  width: 100%;
  max-width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-image: url("../../img/cloud.png");
  height: 50rem;
  display: flex;
  justify-content: center; }
  .cloud .circle {
    background-color: #402A44;
    width: 100%;
    max-width: 70rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    align-self: center; }
    .cloud .circle img {
      margin: 2rem; }
    .cloud .circle h3 {
      color: #fff;
      font-weight: 100; }

.welcome {
  display: flex;
  position: relative; }
  .welcome :last-child {
    align-self: center;
    margin-right: 2rem; }
  .welcome .photo-hover {
    width: 25%; }
  .welcome img {
    margin: 3rem;
    width: auto;
    height: 20rem;
    position: absolute; }
  .welcome .secondary {
    opacity: 0;
    z-index: 1;
    transition: all 1s ease-in; }
  .welcome .secondary:hover {
    opacity: 1; }

.welcome-text {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .welcome-text h1 {
    margin-left: 8rem; }
  .welcome-text .text-right {
    margin: 5rem -25rem 5rem 15rem; }
  .welcome-text .text-left {
    margin-left: -5rem;
    margin-right: 5rem;
    margin-bottom: 5rem; }
  .welcome-text a {
    align-self: center;
    margin: 5rem;
    padding: 1rem 2rem;
    border: 1px solid #402A44;
    color: #fff;
    background-color: #402A44;
    text-decoration: none;
    border-radius: 50px; }

.service {
  border: 1px solid #402A44;
  border-radius: 50%;
  background-color: #402A44;
  color: #fff; }
