/*
0-600px:        phone
600-900px:      tablet portrait
900-1200px:     tablet landscape
1200-1800px:    Normal style
1800px +:       Big desktop

$breakpoint argument choices:
- phone
- tabl-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes blink {
  0% {
    opacity: 0.5;
    transform: scale(1); }
  50% {
    opacity: 1;
    transform: scale(1.01); }
  100% {
    opacity: 0.5;
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #f4f4f4;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

::selection {
  background-color: #D4AF37;
  color: #A0362B; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #352B11;
  font-size: 3rem; }

h1 {
  font-size: 7.9rem;
  letter-spacing: 1rem; }

h2 {
  font-size: 4.9rem; }

h3 {
  font-size: 3.8rem;
  font-weight: 100; }

.small-text {
  font-size: 2.4rem !important; }

.tiny-text {
  font-size: 1.8rem; }

.btn {
  margin: 5rem;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.5s ease;
  background-color: green;
  cursor: pointer; }
  .btn__purple {
    background-color: #402A44;
    border: 1px solid #402A44; }
    .btn__purple:hover {
      border: 5px solid #D4AF37;
      background-color: #16001A;
      transform: scale(1.1); }
  .btn__gold {
    background-color: #D4AF37; }
    .btn__gold:hover {
      border: 5px solid #E7C24A;
      background-color: #9D7800;
      transform: scale(1.1); }

.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  width: 25rem;
  height: 35rem; }
  .card__side {
    height: 35rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    backface-visibility: hidden;
    border-radius: 20px;
    box-shadow: 15px 20px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden; }
    .card__side--front {
      background: linear-gradient(149.39deg, #d4af37 13.59%, #f8e6af 98.68%, #ffc820 98.69%);
      color: #fff;
      font-size: 3rem;
      font-weight: bold; }
      .card__side--front h3 {
        width: min-content; }
    .card__side--back {
      text-align: left;
      justify-content: flex-start;
      background-image: url(../img/card-back.png);
      transform: translateX(-10px);
      font-size: 0.9rem;
      transform: rotateY(180deg); }
      .card__side--back > * {
        margin: 0 3rem; }
      .card__side--back-title {
        margin: 5rem 0; }
      .card__side--back-title h3:last-of-type {
        margin: 0; }
      .card__side--back em.tiny-text span {
        font-size: 1.3rem; }
      .card__side--back h3 {
        width: min-content; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }

.project {
  width: 25rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: 10px 15px 4px rgba(0, 0, 0, 0.3);
  transition: all .7s;
  outline-offset: 2rem; }
  .project img {
    width: 100%;
    filter: blur(3px);
    transition: filter .5s; }
  .project p {
    margin: 0 1rem; }
  .project a {
    font-size: 1.8rem;
    align-self: flex-end;
    margin: 0 1.5rem 1rem;
    text-decoration: none; }
  .project:hover img {
    filter: blur(0); }
  .project:hover {
    outline: 1.5rem solid #D4AF37;
    transform: scale(1.05) translateY(-3rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

table {
  margin: 5rem;
  border-collapse: collapse; }
  table .in {
    border: 3px solid #D4AF37; }
  table .up {
    border-right: 3px solid #D4AF37;
    border-left: 3px solid #D4AF37; }
    table .up-corner {
      border-bottom: 3px solid #D4AF37; }
  table .side {
    border-bottom: 3px solid #D4AF37; }
  table .down {
    border-right: 3px solid #D4AF37;
    border-left: 3px solid #D4AF37; }

footer {
  background-color: #D4AF37;
  color: #f4f4f4;
  padding: 2rem; }
  footer .footer__content {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    footer .footer__content--quote {
      width: 30%; }
      footer .footer__content--quote p.tiny-text {
        margin: 2rem 0 0 3rem; }
    footer .footer__content--logo {
      width: 30%;
      fill: #f4f4f4;
      text-align: center; }
    footer .footer__content--social .media {
      justify-content: center; }
      footer .footer__content--social .media .facebook,
      footer .footer__content--social .media .linkedin {
        transition: all 1s; }
      footer .footer__content--social .media .facebook:hover {
        fill: #3b5998; }
      footer .footer__content--social .media .linkedin:hover {
        fill: #007bb6; }
    footer .footer__content--social > div {
      margin-top: 2.5rem;
      display: flex;
      align-items: center; }
      footer .footer__content--social > div > svg {
        width: 10rem;
        fill: #9D7800;
        height: 4rem; }
    footer .footer__content--social .mobile svg,
    footer .footer__content--social .mail svg,
    footer .footer__content--social .github svg {
      transition: all 1s; }
    footer .footer__content--social .mobile:hover svg {
      fill: #08112f; }
    footer .footer__content--social .mail:hover svg {
      fill: #f4f4f4; }
    footer .footer__content--social .github:hover svg {
      fill: #000; }
  footer .footer__copyright {
    font-size: 1.8rem;
    text-align: center; }
    footer .footer__copyright span {
      transition: all 1s ease;
      display: inline-block; }
    footer .footer__copyright span:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: rotate(-5deg) scale(1.3);
      background-color: #9D7800; }

header {
  position: relative;
  width: 100%; }

.spiral {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-image: url("../../img/espiral-sombra.png");
  z-index: -2; }

.matrix {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-image: url("../../img/matrix.png");
  background-attachment: fixed;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0; }

.row {
  position: absolute;
  top: 3%;
  left: 2%;
  margin: 0 auto;
  display: flex;
  align-items: start;
  padding: 1rem; }
  .row .logo {
    min-width: 36vw;
    fill: #352B11; }
  .row .main-nav {
    display: flex;
    list-style: none;
    justify-content: space-between; }
    .row .main-nav li {
      background-color: #d4af3777;
      padding: 0.5rem 1rem;
      margin: 0 1rem;
      transition: all 0.5s; }
    .row .main-nav li a:link,
    .row .main-nav li a:visited {
      color: #352B11;
      text-decoration: none;
      font-size: inherit;
      border-bottom: 2px solid transparent;
      -webkit-transition: border-bottom 0.4s;
      transition: border-bottom 0.4s; }
    .row .main-nav li:hover,
    .row .main-nav li:active {
      background-color: #9d780077;
      border-bottom: 2px solid #A0362B; }

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .hero-text h1,
  .hero-text h2 {
    background: #d4af3777;
    padding: 0.5rem 3rem; }

.sec-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: .5% 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d4af37b4;
  z-index: 10;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); }
  .sec-nav__logo {
    width: 13rem;
    height: 4rem;
    fill: #f4f4f4; }
  .sec-nav__mini {
    width: 55%;
    max-width: 780px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none; }
    .sec-nav__mini li a {
      text-decoration: none;
      padding-right: 5rem;
      color: #f4f4f4;
      transition: all 0.3s; }

#sec-nav {
  display: none; }

#sec-nav.active {
  display: flex; }

.cloud {
  width: 100%;
  max-width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-image: url("../../img/cloud.png");
  height: 50rem;
  display: flex;
  justify-content: center; }
  .cloud .circle {
    background-color: #402A44;
    width: 100%;
    max-width: 70rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    align-self: center; }
    .cloud .circle .phi_white {
      margin: 0.5rem;
      padding: 1rem;
      height: 8rem;
      width: 6rem; }
    .cloud .circle h3 {
      color: #fff;
      font-weight: 100; }

.welcome {
  display: flex;
  position: relative; }
  .welcome :last-child {
    align-self: center; }
  .welcome .photo-hover {
    width: 25%;
    margin: 3rem;
    position: relative; }
    .welcome .photo-hover img {
      width: auto;
      height: 20rem;
      position: absolute; }
      .welcome .photo-hover img.secondary {
        opacity: 0;
        z-index: 1;
        transition: all 0.8s ease-in; }
        .welcome .photo-hover img.secondary:hover {
          opacity: 1; }
    .welcome .photo-hover:hover::before {
      visibility: hidden; }
    .welcome .photo-hover::before {
      content: "Pasa el mouse por encima";
      display: block;
      width: max-content;
      height: auto;
      color: #d4af3777;
      font-size: 1.6rem;
      animation: blink 1s infinite;
      animation-fill-mode: backwards; }
    .welcome .photo-hover:last-of-type img {
      margin-left: -14rem; }
    .welcome .photo-hover.photo-right::before {
      margin-left: -12rem; }

.welcome-text {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .welcome-text h1 {
    margin-left: 8rem; }
  .welcome-text .text-right {
    margin: 5rem -25rem 5rem 15rem; }
  .welcome-text .text-left {
    margin-left: -5rem;
    margin-right: 5rem;
    margin-bottom: 5rem; }

.services-buttons {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, minmax(max-content, min-content));
  grid-row-gap: 10rem;
  margin: 15rem 5rem;
  justify-content: center; }
  .services-buttons .service {
    border: 5px solid #402A44;
    border-radius: 50%;
    padding: 4rem 2rem;
    background-color: #402A44;
    color: #fff;
    margin: 0 -2rem;
    cursor: pointer;
    transition: all 0.5s ease; }
    .services-buttons .service:hover {
      border: 5px solid #D4AF37;
      background-color: #16001A;
      transform: scale(1.1); }
    .services-buttons .service--1 {
      grid-row: 1 / 1;
      grid-column: 1 / span 1; }
    .services-buttons .service--2 {
      grid-row: 1 / 1;
      grid-column: 3 / 4; }
    .services-buttons .service--3 {
      grid-row: 1 / 1;
      grid-column: 5 / span 1; }
      .services-buttons .service--3 h3 {
        font-size: 3rem; }
    .services-buttons .service--4 {
      grid-row: 2 / 2;
      grid-column: 2 / span 1; }
    .services-buttons .service--5 {
      grid-row: 2 / 2;
      grid-column: 4 / span 1; }
    .services-buttons .service--6 {
      grid-row: 2 / 2;
      grid-column: 6 / span 1; }

.services__title {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .services__title .photo-hover {
    width: 25%;
    margin: 3rem;
    position: relative;
    height: 40rem;
    display: flex;
    align-items: center; }
    .services__title .photo-hover img {
      width: auto;
      height: 20rem;
      position: absolute; }
      .services__title .photo-hover img.secondary {
        opacity: 0;
        z-index: 1;
        transition: all 0.8s ease-in; }
        .services__title .photo-hover img.secondary:hover {
          opacity: 1; }
    .services__title .photo-hover:hover::before {
      visibility: hidden; }
    .services__title .photo-hover::before {
      content: "Pasa el mouse por encima";
      display: block;
      width: max-content;
      height: auto;
      color: #d4af3777;
      font-size: 1.6rem;
      animation: blink 1s infinite;
      animation-fill-mode: backwards; }
    .services__title .photo-hover img {
      width: 30rem;
      height: auto; }
    .services__title .photo-hover::before {
      margin-top: -25rem; }
    .services__title .photo-hover.photo-right img {
      height: 35rem;
      width: auto;
      right: 0;
      margin-top: -10rem; }
    .services__title .photo-hover.photo-right::before {
      margin-top: -45rem;
      margin-left: 20rem; }

.services-cards {
  width: 1100px;
  margin: 10vh auto 15vh auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center; }
  .services-cards .card {
    margin: 3rem 5rem; }
    .services-cards .card .design,
    .services-cards .card .camera {
      fill: #D4AF37; }
    .services-cards .card:last-of-type h3 {
      margin: 2.5rem; }

.projects__title {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .projects__title .photo-hover {
    width: 25%;
    margin: 3rem;
    position: relative;
    height: 40rem;
    display: flex;
    align-items: center; }
    .projects__title .photo-hover img {
      width: auto;
      height: 20rem;
      position: absolute; }
      .projects__title .photo-hover img.secondary {
        opacity: 0;
        z-index: 1;
        transition: all 0.8s ease-in; }
        .projects__title .photo-hover img.secondary:hover {
          opacity: 1; }
    .projects__title .photo-hover:hover::before {
      visibility: hidden; }
    .projects__title .photo-hover::before {
      content: "Pasa el mouse por encima";
      display: block;
      width: max-content;
      height: auto;
      color: #d4af3777;
      font-size: 1.6rem;
      animation: blink 1s infinite;
      animation-fill-mode: backwards; }
    .projects__title .photo-hover img {
      width: 30rem;
      height: auto; }
    .projects__title .photo-hover::before {
      margin-top: -18rem;
      margin-left: 4rem; }
    .projects__title .photo-hover.photo-right img {
      width: 20rem;
      right: 0;
      margin-top: -10rem; }
    .projects__title .photo-hover:last-of-type::before {
      position: absolute;
      right: 0;
      margin-top: -12rem; }
  .projects__title .photo-hover:last-of-type img {
    width: 20rem;
    right: 0; }

.project__cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, min-content);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5rem 10rem; }

.price__title {
  margin-top: 15rem;
  display: flex;
  align-items: center; }
  .price__title h1 {
    text-align: center; }
  .price__title .photo-hover {
    width: 25%;
    margin: 3rem;
    position: relative;
    height: 40rem;
    display: flex;
    align-items: center; }
    .price__title .photo-hover img {
      width: auto;
      height: 20rem;
      position: absolute; }
      .price__title .photo-hover img.secondary {
        opacity: 0;
        z-index: 1;
        transition: all 0.8s ease-in; }
        .price__title .photo-hover img.secondary:hover {
          opacity: 1; }
    .price__title .photo-hover:hover::before {
      visibility: hidden; }
    .price__title .photo-hover::before {
      content: "Pasa el mouse por encima";
      display: block;
      width: max-content;
      height: auto;
      color: #d4af3777;
      font-size: 1.6rem;
      animation: blink 1s infinite;
      animation-fill-mode: backwards; }
    .price__title .photo-hover img {
      width: 20rem;
      height: auto; }
    .price__title .photo-hover::before {
      margin-top: -15rem;
      margin-left: 0rem; }
    .price__title .photo-hover.photo-right img {
      right: 0;
      margin-top: -10rem; }
    .price__title .photo-hover:last-of-type::before {
      position: absolute;
      right: 0;
      margin-top: -8rem; }
  .price__title .photo-hover:last-of-type img {
    width: 20rem;
    right: 0; }

.prices {
  display: flex;
  flex-direction: column; }
  .prices a {
    margin: 0 auto 25rem; }

.contact__box {
  color: #f4f4f4;
  display: flex;
  position: relative; }
  .contact__box--form {
    background-color: #402A44;
    width: 61.8%;
    display: flex;
    flex-direction: column; }
    .contact__box--form .form__group {
      position: relative;
      margin: 5rem 0 0 8rem; }
    .contact__box--form .form__input {
      background-color: transparent;
      color: #f4f4f4;
      font-size: 2.4rem;
      width: 70%;
      padding: 0.7rem 0;
      border: none;
      outline: none;
      border-bottom: 1px solid #f4f4f4;
      z-index: 10;
      font-family: inherit; }
      .contact__box--form .form__input:focus {
        border-bottom: 2px solid #D4AF37; }
      .contact__box--form .form__input:focus:invalid {
        border-bottom: 2px solid #A0362B; }
    .contact__box--form .form__label {
      opacity: 0;
      color: #f4f4f4;
      font-size: 1.8rem;
      position: absolute;
      top: 1rem;
      left: 0;
      transition: all 0.3s;
      visibility: hidden; }
    .contact__box--form ::placeholder {
      color: #f4f4f4; }
    .contact__box--form h3 {
      margin: 5rem; }
    .contact__box--form form {
      display: flex;
      flex-direction: column; }
    .contact__box--form .btn {
      background-color: #725C76;
      width: fit-content;
      align-self: center;
      z-index: 10;
      font-size: 2.4rem; }
      .contact__box--form .btn:hover {
        background-color: #16001A; }
  .contact__box--picture {
    background-image: url("../../img/handshake.png");
    height: auto;
    width: 38.2%; }
  .contact__box .spiral-ghost {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%; }

.form__input:not(:placeholder-shown) + .form__label {
  opacity: 1;
  visibility: visible;
  transform: translateY(-3rem); }

.precios h3 {
  color: red; }
