.entrepreneurship {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 5rem;

  @include respond(xxs) {
    h1 {
      text-align: center;
    }
  }

  .with-image {
    display: flex;
    margin: 3rem 0 0;
    align-items: center;
    justify-content: space-between;
    max-width: 1420px;

    p {
      max-width: 130rem;

      span {
        color: $color-primary;
        font-weight: 700;
      }

      @include respond(xs) {
        max-width: 80rem;
      }
    }

    .photo-hover {
      @include hover;
      @include hoverMessage;
      height: 20rem;
      display: flex;
      align-items: center;

      &.photo-right {
        //Warner
        picture {
          left: 7rem;
          img {
            width: 18rem;

            @include respond(xxs) {
              width: 13rem;
            }
          }

          @include respond(xxs) {
            left: 1.5rem;
          }

          @include respond(xxxs) {
            left: 26rem;
          }

          @include respond(xxxxs) {
            left: 18rem;
          }
        }
      }

      picture {
        //Saturn
        left: -10rem;

        @include respond(s) {
          left: -5rem;
        }

        @include respond(xs) {
          left: -12rem;
        }

        @include respond(xxs) {
          left: 22rem;
        }

        @include respond(xxxs) {
          left: 20rem;
        }

        @include respond(xxxxs) {
          left: 11rem;
        }

        img {
          width: 30rem;
          height: auto;

          @include respond(xs) {
            width: 26rem;
          }
        }
      }

      &::before {
        //mostly for Saturn
        position: absolute;
        top: 2rem;
        left: -4rem;

        @include respond(s) {
          left: 1rem;
        }

        @include respond(xs) {
          left: -3rem;
        }

        @include respond(xxs) {
          left: 29rem;
        }

        @include respond(xxxxs) {
          left: 18rem;
        }
      }

      &.photo-right::before {
        //For Warner
        top: -4rem;
        left: 6rem;

        @include respond(xs) {
          left: 13rem;
        }

        @include respond(xxs) {
          left: 3rem;
          top: -2rem;
        }

        @include respond(xxxs){
          left: 25rem;
        }

        @include respond(xxxxs){
          left: 18rem;
        }
      }
    }

    @include respond(xxs) {
      &:nth-of-type(2) {
        flex-wrap: wrap-reverse;
      }
    }

    @include respond(xxxs){
      &:nth-of-type(1) {
        flex-wrap: wrap;
      }
    }
  }

  small {
    align-self: flex-start;
    margin-left: 10rem;
    cursor: pointer;
    color: $color-purple;
    text-decoration: underline;
  }
}
