@import '../abstracts/functions';

// _____________________________ Welcome _____________________________

//First part, cloud and phi number_______
.cloud {
  width: 100%;
  max-width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-image: img('cloud.webp');
  height: 50rem;
  display: flex;
  justify-content: center;

  @include respond(xxxs) {
    margin-bottom: 10rem;
  }

  .circle {
    background-color: $color-purple;
    width: 100%;
    max-width: 70rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    align-self: center;

    @include respond(xxxs) {
      max-width: 50rem;
    }

    .phi_white {
      margin: 0.5rem;
      padding: 1rem;
      height: 8rem;
      width: 6rem;
    }

    h3 {
      color: #fff;
      font-weight: 100;

      @include respond(xxxs) {
        font-size: $small;
      }
    }
  }
}

//Second part, images and text
.welcome {
  display: flex;
  position: relative;

  :last-child {
    align-self: center;
  }

  .photo-hover {
    @include hover;
    @include hoverMessage;

    // &:first-child {
    //   //Vetrubio
    //   right: -15rem;

    //   @include respond(xs) {
    //     align-self: flex-start;
    //     right: -6rem;

    //     img {
    //       height: 17rem;
    //     }
    //   }

    //   @include respond(xxs) {
    //     align-self: flex-start;
    //     top: -14rem;
    //     right: -15rem;

    //     img {
    //       width: 16rem;
    //       height: auto;

    //       @include respond(xxxs) {
    //         width: 18rem;
    //         height: auto;
    //       }
    //     }
    //   }

    //   @include respond(xxxs) {
    //     right: -5rem;
    //   }

    //   @include respond(xxxxs) {
    //     right: 0rem;
    //   }
    // }

    // &:last-of-type {
    //   //Partenon
    //   right: 8rem;
    //   img {
    //     @include respond(s) {
    //       height: 18rem;
    //       width: auto;
    //     }
    //     @include respond(xs) {
    //       width: 25rem;
    //       height: auto;
    //     }

    //     @include respond(xs) {
    //     }

    //     @include respond(xxxs) {
    //       width: 26rem;
    //       height: auto;
    //     }
    //   }

    //   @include respond(xs) {
    //     align-self: flex-start;
    //   }
    //   @include respond(xxs) {
    //     top: -12rem;
    //     left: -28rem;
    //   }
    //   @include respond(xxxs) {
    //     left: -20rem;
    //   }
    // }

    // &::before {
    //   //both
    //   top: -3rem;

    //   @include respond(xs) {
    //     //For Vetrubio only
    //     left: 4rem;
    //   }
    // }

    // &.photo-right::before {
    //   //For partenon
    //   left: 6rem;

    //   @include respond(xs) {
    //     left: 8rem;
    //   }
    // }
  }

  &-text {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 58.8rem;

    h1 {
      margin-left: 8rem;

      @include respond(xs) {
        margin: 5rem;
      }

      @include respond(xxxs) {
        margin-top: 10rem;
        text-align: center;
      }
    }
    .text-right {
      margin: 5rem -25rem 5rem 15rem;

      @include respond(xs) {
        margin: 8rem 5rem 5rem;
      }
      @include respond(xxs) {
        margin: 0rem 5rem 5rem;
      }
    }

    .text-left {
      margin-left: -5rem;
      margin-right: 5rem;
      margin-bottom: 5rem;
      @include respond(xs) {
        margin: 0 5rem 5rem;
      }
    }

    @include respond(xs) {
      align-items: center;
      text-align: center;
      h3 {
        font-size: 20px;
      }
    }

    @include respond(xxxs) {
      margin: 5rem 0 0;
    }
  }
}

//Third part, services buttons

.services-buttons {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, minmax(max-content, min-content));
  padding: 15rem 5rem;
  justify-content: center;

  a {
    text-decoration: none;
  }

  @include respond(xs) {
    display: none;
  }

  .service {
    border: 5px solid $color-purple;
    border-radius: 50%;
    padding: 4rem 2rem;
    background-color: $color-purple;
    color: #fff;
    margin: 0 -2rem;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      @include hoverPurpleBtn;
    }

    &--1 {
      grid-row: 1 / 1;
      grid-column: 1 / span 1;
    }

    &--2 {
      grid-row: 1 / 1;
      grid-column: 3 / 4;
    }

    &--3 {
      grid-row: 1 / 1;
      grid-column: 5 / span 1;

      h3 {
        font-size: 3rem;
      }
    }

    &--4 {
      grid-row: 2 / 2;
      grid-column: 2 / span 1;
    }

    &--5 {
      grid-row: 2 / 2;
      grid-column: 4 / span 1;
    }

    &--6 {
      grid-row: 2 / 2;
      grid-column: 6 / span 1;
    }
  }

  @include respond(xl) {
    justify-content: space-evenly;
  }
}

// _____________________________ SERVICES _____________________________

//Fist part, the heading and images
.services__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30rem;

  @include respond(xxxs) {
    margin-top: 85rem;
  }

  .photo-hover {
    @include hover;
    @include hoverMessage;
    display: flex;
    align-items: center;

    @include respond(xxs) {
      height: 5rem;
    }

    picture {
      //Mostly on Last Supper
      top: -10rem;
      left: 7rem;

      img {
        width: 30rem;
        height: auto;

        @include respond(xs) {
          width: 25rem;
        }

        @include respond(xxs) {
          width: 20rem;
        }

        @include respond(xxxs) {
          width: 27rem;
        }

        @include respond(xxxxs) {
          width: 25rem;
        }
      }

      @include respond(xxs) {
        top: -16rem;
        left: 14rem;
      }

      @include respond(xxxs) {
        top: -22rem;
        left: 5rem;
      }

      @include respond(xxxs) {
      }
    }

    &.photo-right {
      //Notre Damm
      picture {
        top: -26rem;
        left: 27rem;

        img {
          height: 35rem;
          width: auto;

          @include respond(xs) {
            height: 30rem;
          }

          @include respond(xxs) {
            height: 25rem;
          }

          @include respond(xxxs) {
            width: 20rem;
            height: auto;
          }

          @include respond(xxxxs) {
            width: 18rem;
          }
        }

        @include respond(s) {
          left: 16rem;
        }

        @include respond(xs) {
          left: 12rem;
        }

        @include respond(xxs) {
          top: -29rem;
          left: -5rem;
        }

        @include respond(xxxs) {
          top: -38rem;
          left: -1rem;
        }

        @include respond(xxxxs) {
          top: -34rem;
          left: -7rem;
        }
      }

      @include respond(xs) {
        margin-left: -5rem;
      }
    }

    &::before {
      //for last supper
      top: -13rem;
      left: 13rem;

      @include respond(xxs) {
        top: -19rem;
        left: 19rem;
      }
      @include respond(xxxs) {
        top: -26rem;
        left: 12rem;
      }
    }

    &.photo-right::before {
      //for notre damm
      top: -21rem;
      left: 28rem;

      @include respond(s) {
        left: 16rem;
      }

      @include respond(xxs) {
        top: -26rem;
        left: -2rem;
      }

      @include respond(xxxs) {
        top: -34rem;
        left: 1rem;
      }

      @include respond(xxxxs) {
        top: -32rem;
        left: -5rem;
      }
    }
  }
}

// The cards

.services-cards {
  width: 1100px;
  margin: 10vh auto 15vh auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;

  .card {
    margin: 3rem 5rem;

    .design,
    .camera {
      fill: $color-primary;
    }

    .social {
      margin-bottom: 2rem;
    }

    &:last-of-type h3 {
      //For Redes Sociales title only
      font-size: 3rem;
    }
  }

  @include respond(xl) {
    width: 1300px;
  }

  @include respond(m) {
    width: 900px;
  }

  @include respond(xs) {
    width: 760px;
  }

  @include respond(xxs) {
    width: 600px;
    margin-top: 0;
    margin-bottom: 35rem;
  }

  @include respond(xxxs) {
    width: 360px;
  }

  @include respond(xxxxs) {
    width: 325px;
  }
}

// _____________________________ Projects _____________________________

//Fist part, the heading and images
.projects__title {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .photo-hover {
    @include hover;
    @include hoverMessage;
    height: 40rem;
    display: flex;
    align-items: center;

    @include respond(xxs) {
      height: 10rem;
    }

    picture {
      right: 18rem;

      img {
        //Mostly Venus
        width: 30rem;

        @include respond(xxs) {
          width: 25rem;
          height: auto;
        }

        @include respond(xxxs) {
          width: 31rem;
        }

        @include respond(xxxxs) {
          width: 27rem;
        }
      }

      @include respond(s) {
        right: 11rem;
      }

      @include respond(xs) {
        right: 1rem;
      }

      @include respond(xxs) {
        top: -18rem;
        right: -11rem;
      }

      @include respond(xxxs) {
        top: -23rem;
      }

      @include respond(xxxxs) {
        right: -16rem;
      }
    }

    &.photo-right picture {
      right: 11rem;
      img {
        //Monalisa
        width: 20rem;

        @include respond(xxs) {
          width: 15rem;
        }

        @include respond(xxxs) {
          width: 20rem;
        }

        @include respond(xxxxs) {
          width: 17rem;
        }
      }

      @include respond(xxs) {
        left: -5rem;
      }

      @include respond(xxxs) {
        left: -9rem;
      }

      @include respond(xxxxs) {
        left: -9rem;
      }
    }

    &::before {
      //mostly for Venus
      top: 10rem;
      right: 22rem;

      @include respond(s) {
        right: 15rem;
      }

      @include respond(xs) {
        right: 10rem;
      }

      @include respond(xxs) {
        top: -19rem;
        right: -4rem;
      }

      @include respond(xxxs) {
        top: -24rem;
      }

      @include respond(xxxxs) {
        right: -10rem;
      }
    }

    &:last-of-type::before {
      //For monalisa
      top: 7rem;
      right: 12rem;

      @include respond(xs) {
        right: 17rem;
      }
      @include respond(xxs) {
        top: -21rem;
        right: 14rem;
      }
      @include respond(xxxs) {
        top: -27rem;
      }
      @include respond(xxxxs) {
        right: 6rem;
      }
    }
  }
}

//second part, the cards
.project__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem 10rem;
  margin: 0 8rem;

  @include respond(xl) {
    justify-content: space-around;
  }

  // @include respond(xs) {

  // }

  // &--1 {
  //   grid-row: 1 / 1;
  // }

  // &--2 {
  //   grid-row: 1 / 1;
  // }

  // &--3 {
  //   grid-row: 1 / 1;
  // }

  // &--4 {
  //   gr {
  //     grid-row: 2 / 2;
  //   }

  //   &--7 {
  //     grid-row: 2 / 2;
  //   }

  //   &--8 {
  //     grid-row: 2 / 2;
  //   } {
  //   grid-row: 2 / 2;
  // }

  // &--7 {
  //   grid-row: 2 / 2;
  // }

  // &--8 {
  //   grid-row: 2 / 2;
  // }
}

// _____________________________ Estimate price_____________________________

.price {
  display: flex;
  flex-direction: column;
  max-height: 91.5rem;

  &__title {
    margin-top: 20rem;
    display: flex;
    align-items: center;

    h1 {
      text-align: center;
      margin-top: 10rem;
    }

    .photo-hover {
      @include hover;
      width: 25%;
      @include hoverMessage;
      height: 40rem;
      display: flex;
      align-items: center;

      //This and the next media queries are to get the title large and not one word in each line, as well as not making the small secction to big.
      @include respond(xxs) {
        width: 10%;
        height: 25rem;
      }

      @include respond(xxxs) {
        height: 35rem;
        width: 3%;
      }

      picture {
        right: 6rem;

        img {
          //Mostly both
          width: 24rem;
          height: auto;

          @include respond(xxs) {
            width: 20rem;
          }

          @include respond(xxxs) {
            width: 25rem;
          }
          @include respond(xxxs) {
            width: 22rem;
          }
        }

        @include respond(s) {
          right: 0;
        }

        @include respond(xs) {
          right: -3rem;
        }

        @include respond(xxxs) {
          top: -3rem;
          right: -27rem;
        }

        @include respond(xxxxs) {
          right: -27rem;
        }
      }

      &:last-of-type picture {
        //Toyota
        top: 13rem;

        img {
          @include respond(xxxs) {
            width: 25rem;
          }
          @include respond(xxxxs) {
            width: 22rem;
          }
        }

        @include respond(xs) {
          top: 15rem;
        }

        @include respond(xxs) {
          top: -2rem;
          right: 6rem;
        }

        @include respond(xxxs) {
          right: 2rem;
        }

        @include respond(xxxxs) {
          right: 0;
        }
      }

      &:first-of-type::before {
        //For Taj Mahal
        top: 10.5rem;
        left: 2rem;

        @include respond(m) {
          left: 5rem;
        }
        @include respond(s) {
          left: 4rem; //This and the next one do not look good on the specific sizes, but they look good on the devices closer to the sizes
        }
        @include respond(xs) {
          left: 5rem;
        }
        @include respond(xxxs) {
          top: -4.5rem;
          left: 11rem;
        }
        @include respond(xxxxs) {
          left: 10rem;
        }
      }

      &:last-of-type::before {
        //For Toyota
        right: 11rem;
        top: 10.5rem;

        @include respond(s) {
          left: 2rem;
        }

        @include respond(xs) {
          top: 11.5rem;
          left: 4rem;
        }

        @include respond(xxs) {
          left: -17rem;
          top: -10rem;
        }

        @include respond(xxxs) {
          left: -21 rem;
          top: -6rem;
        }

        @include respond(xxxxs) {
          left: -18rem;
        }
      }
    }
  }
  a {
    margin: 0 auto 25rem;

    @include respond(xxs) {
      margin: 0 auto 10rem;
    }
  }
}

@include respond(xs) {
  h1 {
    font-size: $big;
  }
}
@include respond(xxxs) {
  h1 {
    // font-size: 24px;
  }
}
