@import "../abstracts/functions";

// _____________________________ Welcome _____________________________

//First part, cloud and phi number_______
.cloud {
  width: 100%;
  max-width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-image: img("cloud.png");
  height: 50rem;
  display: flex;
  justify-content: center;

  @include respond(phone) {
    background-color: red;
  }

  .circle {
    background-color: $color-purple;
    width: 100%;
    max-width: 70rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    align-self: center;

    .phi_white {
      margin: 0.5rem;
      padding: 1rem;
      height: 8rem;
      width: 6rem;
    }

    h3 {
      color: #fff;
      font-weight: 100;
    }
  }
}

//Second part, images and text
.welcome {
  display: flex;
  position: relative;

  :last-child {
    align-self: center;
  }

  .photo-hover {
    @include hover;
    @include hoverMessage;

    &:last-of-type {
      img {
        margin-left: -10rem;

        @include respond(s) {
          height: auto;
          width: 180px;
        }
      }
      @include respond(xs) {
        align-self: flex-start;
        margin-left: -5rem;
      }
    }

    &:first-child {
      @include respond(xs) {
        align-self: flex-start;
        margin-right: -5rem;
        // margin-left: 5rem;
      }
    }
    &.photo-right::before {
      margin-left: -4rem;

      @include respond(s) {
        margin-left: -2rem;
      }
    }
  }

  &-text {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 58.8rem;
    @include respond(xs) {
      align-items: center;
    }

    h1 {
      margin-left: 8rem;
      @include respond(xs) {
        margin: 5rem;
      }
    }
    .text-right {
      margin: 5rem -25rem 5rem 15rem;

      @include respond(xs) {
        margin: 8rem 5rem 5rem;
      }
    }

    .text-left {
      margin-left: -5rem;
      margin-right: 5rem;
      margin-bottom: 5rem;
      @include respond(xs) {
        margin: 0 5rem 5rem;
      }
    }

    @include respond(xs) {
      h3 {
        font-size: 20px;
      }
    }
  }
}

//Third part, services buttons

.services-buttons {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, minmax(max-content, min-content));
  margin: 15rem 5rem;
  justify-content: center;

  a {
    text-decoration: none;
  }

  @include respond(xs) {
    display: none;
  }

  .service {
    border: 5px solid $color-purple;
    border-radius: 50%;
    padding: 4rem 2rem;
    background-color: $color-purple;
    color: #fff;
    margin: 0 -2rem;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      @include hoverPurpleBtn;
    }

    &--1 {
      grid-row: 1 / 1;
      grid-column: 1 / span 1;
    }

    &--2 {
      grid-row: 1 / 1;
      grid-column: 3 / 4;
    }

    &--3 {
      grid-row: 1 / 1;
      grid-column: 5 / span 1;

      h3 {
        font-size: 3rem;
      }
    }

    &--4 {
      grid-row: 2 / 2;
      grid-column: 2 / span 1;
    }

    &--5 {
      grid-row: 2 / 2;
      grid-column: 4 / span 1;
    }

    &--6 {
      grid-row: 2 / 2;
      grid-column: 6 / span 1;
    }
  }

  @include respond(xl) {
    justify-content: space-evenly;
  }
}

// _____________________________ SERVICES _____________________________

//Fist part, the heading and images
.services__title {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include respond(xs) {
    margin-top: 15rem;
  }

  .photo-hover {
    @include hover;
    @include hoverMessage;
    height: 40rem;
    display: flex;
    align-items: center;

    img {
      width: 30rem;
      height: auto;
    }

    &::before {
      margin-top: -25rem;
    }
    &.photo-right {
      img {
        height: 35rem;
        width: auto;
        right: 0;
        margin-top: -10rem;
      }

      @include respond(xs) {
        margin-left: -5rem;
      }
    }

    &.photo-right::before {
      margin-top: -45rem;
      margin-left: 15rem;
      @include respond(xs){
        margin-left: 11rem;
      }
    }
  }
}

// The cards

.services-cards {
  width: 1100px;
  margin: 10vh auto 15vh auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;

  .card {
    margin: 3rem 5rem;

    .design,
    .camera {
      fill: $color-primary;
    }

    .social {
      margin-bottom: 2rem;
    }

    &:last-of-type h3 {
      margin: 2.5rem;
    }
  }

  @include respond(xl) {
    width: 1300px;
  }

  @include respond(m) {
    width: 900px;
  }

  @include respond(xs) {
    width: 700px;
    margin-top: 0;
  }
}

// _____________________________ Projects _____________________________

//Fist part, the heading and images
.projects__title {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .photo-hover {
    @include hover;
    @include hoverMessage;
    height: 40rem;
    display: flex;
    align-items: center;

    img {
      width: 30rem;
      // height: auto; //Al menos en xs se ve bien
    }

    &::before {
      margin-top: -18rem;
      margin-left: 4rem;
    }
    &.photo-right img {
      width: 20rem;
      right: 0;

      @include respond(xs) {
        left: 0px;
      }
    }

    &:first-of-type img {
      margin-left: -2rem;
    }

    &:last-of-type::before {
      position: absolute;
      right: 0;
      margin-top: -12rem;

      @include respond(xs){
        left: 0;
      }
    }
  }
}

//second part, the cards
.project__cards {
  display: grid;  
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem 10rem;
  margin: 0 8rem;

  @include respond(xl) {
    justify-content: space-around;
  }

  // @include respond(xs) {
   
  // }

  // &--1 {
  //   grid-row: 1 / 1;
  // }

  // &--2 {
  //   grid-row: 1 / 1;
  // }

  // &--3 {
  //   grid-row: 1 / 1;
  // }

  // &--4 {
  //   gr {
  //     grid-row: 2 / 2;
  //   }

  //   &--7 {
  //     grid-row: 2 / 2;
  //   }

  //   &--8 {
  //     grid-row: 2 / 2;
  //   } {
  //   grid-row: 2 / 2;
  // }

  // &--7 {
  //   grid-row: 2 / 2;
  // }

  // &--8 {
  //   grid-row: 2 / 2;
  // }
}

// _____________________________ Estimate price invitation_____________________________

.price {
  display: flex;
  flex-direction: column;
  max-height: 91.5rem;

  &__title {
    margin-top: 15rem;
    display: flex;
    align-items: center;

    h1 {
      text-align: center;
    }

    & .photo-hover {
      @include hover;
      @include hoverMessage;
      height: 40rem;
      display: flex;
      align-items: center;

      img {
        width: 20rem;
        height: auto;
      }

      &::before {
        margin-top: -15rem;
        // margin-left: 0rem; //Al emnos esta bien asi en xs
        margin-left: 40px;
      }

      &.photo-right img {
        right: 0;
        margin-top: -10rem;
      }

      &:last-of-type::before {
        position: absolute;
        right: 0;
        margin-top: -8rem;
        margin-right: 2rem;

        @include respond(xs){
          left: -16px;
        }
      }
    }

    .photo-hover:last-of-type img {
      width: 20rem;
      right: 0;
    }
  }
  a {
    margin: 0 auto 25rem;
  }
}
@include respond(xs) {
  h1 {
    font-size: $big;
  }
}
