.more-on-phi {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5rem 5rem;
  h1 {
    margin: 15rem auto 5rem;
  }

  ul {
    list-style: none;
  }
  .btn {
    margin-bottom: 20rem;
  }

  .container {
    // display: none;

    > * {
      margin: auto 3rem;
    }

    .with-image {
      display: flex;
      margin: 5rem;
      justify-content: space-evenly;
      align-items: center;
    }

    .golden {
      color: $color-primary;
    }

    img{

    }

    &.historia {
      .with-image {
        p {
          width: 80rem;
        }
      }

      .quote {
        color: $color-primary;
        font-style: italic;
        font-weight: 700;
        text-align: justify;
        display: flex;
        flex-direction: column;
        max-width: 100rem;
        align-items: center;
        margin: 5rem auto;
        span {
          margin-top: 2rem;
        }
      }

      ol li {
        list-style-type: none;
        counter-increment: lista;
        position: relative;
        padding: 3rem 5rem 0 5rem;
        &:first-of-type {
          padding-top: 10rem;
        }

        &::before {
          position: absolute;
          content: counter(lista, upper-roman) ".- ";
          color: $color-primary;
          left: -3rem;
          font-size: $medium;
          font-weight: 700;
        }
      }
    }

    &.matematicas {
      
      .with-image p:first-of-type {
        width: 80rem;
        margin-left: 10rem;
        align-self: flex-start;

        .a {
          color: $color-primary-dark;
        }

        .b {
          color: $color-primary;
        }

        .c {
          color: $color-primary-light;
        }
      }

      .with-image p:nth-child(2) {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .ecuation {
          color: $color-purple;
          font-weight: 500;
        }
      }
    }

    &.geometria {
      .with-image img:nth-child(2){
        margin-bottom: -5rem;
        margin-left: 20rem;
      }
      .with-image p:nth-child(2){
        margin-left: 20rem;
      }
    }
  }
}
