.more-on-phi {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5rem 5rem;

  h1 {
    margin: 15rem auto 5rem;

    @include respond(xs) {
      margin: 5rem auto 5rem;
    }
  }

  .title {
    cursor: pointer;
    border: 2px solid $color-purple;
    transition: all 0.5s ease;

    &:hover {
      background-color: $color-purple-dark;
      border: 2px solid $color-primary;
    }
  }

  ul {
    list-style: none;
  }

  hr {
    color: $color-primary;
    width: 130rem;
    height: 0.5rem;
  }

  .container {
    display: none;

    .btn {
      margin-bottom: 20rem;
    }

    &.active {
      display: block;
    }

    > * {
      margin: auto 3rem;

      @include respond(xs) {
        margin: auto 10rem;
      }
    }

    .with-image {
      display: flex;
      margin: 5rem auto;
      justify-content: space-evenly;
      align-items: center;

      @include respond(xs) {
        width: 100rem;
      }
    }

    .golden {
      color: $color-primary;
    }

    ul li {
      position: relative;
      padding: 1.5rem;

      &::before {
        content: "\BB";
        color: $color-primary;
        position: absolute;
        left: -2rem;
      }
    }

    &.historia {
      .with-image {
        img:first-of-type {
          width: 300px;

          @include respond(s) {
            width: 200px;
          }
        }

        p {
          width: 80rem;

          @include respond(xs) {
            width: 60rem;
          }
        }

        &:last-of-type {
          @include respond(s) {
            img {
              width: 200px;
              margin-right: 3rem;
            }
          }

          @include respond(s) {
            img {
              width: 150px;
              margin-right: 3rem;
            }
          }
        }
      }

      .quote {
        color: $color-primary;
        font-style: italic;
        font-weight: 700;
        text-align: justify;
        display: flex;
        flex-direction: column;
        max-width: 100rem;
        align-items: center;
        margin: 5rem auto;
        span {
          margin-top: 2rem;
        }
      }

      ol li {
        list-style-type: none;
        counter-increment: lista;
        position: relative;
        padding: 3rem 5rem 0 5rem;
        &:first-of-type {
          padding-top: 10rem;
        }

        &::before {
          position: absolute;
          content: counter(lista, upper-roman) ".- ";
          color: $color-primary;
          left: -3rem;
          font-size: $medium;
          font-weight: 700;

          @include respond(xs) {
            left: 0;
            font-size: $small;
          }
        }
      }
    }

    &.matematicas {
      img {
        width: 500px;
      }

      .with-image {
        
        img:first-of-type {
          width: 500px;

          @include respond(xs) {
            width: 250px;
          }
        }
        img:last-of-type {
          width: 300px;

          @include respond(xs) {
            width: 200px;
          }
        }

        p:nth-child(2) {
          margin-top: 5rem;
          display: flex;
          flex-direction: column;
          align-items: center;

          @include respond(xs) {
            max-width: 55rem;
          }
          .ecuation {
            color: $color-purple;
            font-weight: 500;
          }
        }

        p:first-of-type {
          width: 80rem;
          margin-left: 10rem;
          align-self: flex-start;

          @include respond(xs) {
            width: 35rem;
            margin-left: 3rem;
            text-align: left;
          }

          .a {
            color: $color-primary-dark;
          }

          .b {
            color: $color-primary;
          }

          .c {
            color: $color-primary-light;
          }
        }
      }
    }

    &.geometria {
      .with-image {
        &:first-of-type {
          img {
            @include respond(s) {
              width: 52.7rem;
            }

            @include respond(xs) {
              width: 34.72rem;
            }
          }

          img:nth-child(2) {
            margin-bottom: -5rem;
            margin-left: 20rem;

            @include respond(s) {
              width: 45.83rem;
            }

            @include respond(xs) {
              width: 31.94rem;
            }
          }
        }

        &:nth-of-type(2) img {
          @include respond(xs) {
            width: 45.83rem;
          }
        }

        &:nth-of-type(4) img {
          @include respond(s) {
            width: 45.83rem;
          }
        }

        &:nth-of-type(5) img {
          @include respond(s) {
            width: 30.83rem;
            margin-left: 10rem;
          }
          @include respond(xs) {
            width: 23.83rem;
            margin-left: 5rem;
          }
        }

        &:nth-of-type(6) img,
        &:nth-of-type(7) img {
          @include respond(xs) {
            width: 30.83rem;
          }
        }

        p:nth-child(2) {
          margin-left: 20rem;
          @include respond(s) {
            margin-left: 10rem;
          }
          @include respond(xs) {
            margin-left: 5rem;
          }
        }
      }
    }

    &.naturaleza {
      .with-image {
        align-items: flex-start;

        &:first-of-type img {
          @include respond(s) {
            width: 41.66rem;
          }
          @include respond(xs) {
            width: 35.66rem;
          }
        }

        ul li {
          max-width: 80rem;
        }

        .image-container {
          width: 50rem;
          position: relative;

          img {
            position: absolute;

            @include respond(xs) {
              width: 15rem;
            }

            &.flor {
              top: 10rem;
              left: 25rem;
              z-index: -1;

              @include respond(xs) {
                left: 15rem;
              }
            }

            &.abeja {
              top: 60rem;
            }

            &.nautilus {
              top: 60rem;
              left: 30rem;

              @include respond(xs) {
                left: 14rem;
              }
            }

            &.huracan {
              top: 90rem;
              transition: all 100s;

              @include respond(s) {
                width: 300px;
              }

              @include respond(s) {
                width: 250px;
              }
            }
          }
        }
      }
      iframe {
        @include respond(xs) {
          width: 50rem;
          height: 29rem;
        }
      }
    }

    &.belleza {
      ul {
        position: relative;
        &:before {
          content: "1, 1, 2, 3, 5, 8, 13";
          position: absolute;
          font-size: $huge;
          letter-spacing: 20px;
          color: $color-primary-transparent;
          left: 20rem;
          top: -2rem;

          @include respond(s) {
            letter-spacing: 15px;
          }

          @include respond(xs) {
            letter-spacing: 10px;
            left: 5rem;
          }
        }
      }
      .with-image {
        @include respond(s) {
          &:first-of-type img {
            width: 52.7rem;
            height: auto;
          }
          img {
            height: 52.7rem;
            width: auto;
          }
        }

        @include respond(xs) {
          &:first-of-type img {
            width: 42.7rem;
            height: auto;
          }
          img {
            height: 42.7rem;
            width: auto;
          }
        }
      }
    }

    &.diseno {
      .with-image {
        &:nth-of-type(2) {
          @include respond(s) {
            img:first-child {
              width: 55.55rem;
            }
            img:last-child {
              width: 41.66rem;
            }
          }
          @include respond(xs) {
            img:first-child {
              width: 45.55rem;
            }
            img:last-child {
              width: 31.66rem;
            }
          }
        }

        &:nth-of-type(3) img:nth-of-type(1),
        img:nth-of-type(2) {
          width: 30rem;
        }
      }
    }

    &.conclusion {
      max-height: 365rem;

      .with-image {
        img {
          padding: 0 8rem;

          @include respond(s) {
            width: 55.55rem;
          }

          @include respond(xs) {
            width: 35.55rem;
            padding: 0;
          }
        }

        p {
          margin: auto 3rem;
        }

        &:nth-of-type(6) img{
          width: 23.83rem;
        }

        &:nth-of-type(7) img{
          width: 30.83rem;
        }
      }

      .end {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      @include respond(m) {
        max-height: 430rem;
      }
    }

    @include respond(s) {
      width: 133rem;
    }

    @include respond(xs) {
      width: 115rem;
    }
  }

  .bye {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 15rem;

    p {
      height: auto;
    }

    a {
      margin: 3rem;
    }
  }
}
