.sec-nav {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: .5% 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-primary-transparent-less;
  z-index: 10;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

  &__logo {
    width: 13rem;
    height: 4rem;
    fill: $color-white;
  }

  &__mini {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    li a {
      text-decoration: none;
      margin-right: 5rem;
      padding: 1rem;
      color: $color-white;
      transition: all 0.3s;   
      
      &:hover{
        background-color: $color-primary-dark;
        border-radius: 50%;
        border-bottom: 5px solid $color-purple;
      }
    }

    @media (min-width: 1600px) {
      width: 80%;
    }
  }
}


#sec-nav {
  display: none;
}

#sec-nav.active {
  display: flex;
}
