.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  width: 25rem;
  height: 35rem;

  &__side {
    height: 35rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    backface-visibility: hidden;
    border-radius: 20px;
    box-shadow: 15px 20px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;

    &--front {
      background: linear-gradient(
        149.39deg,
        #d4af37 13.59%,
        #f8e6af 98.68%,
        #ffc820 98.69%
      );
      color: #fff;
      font-size: 3rem;
      font-weight: bold;
      h3 {
        width: min-content;
      }
    }

    &--back {
      text-align: left;
      justify-content: flex-start;
      background-image: url(../img/card-back.png);
      transform: translateX(-10px);
      font-size: 0.9rem;
      transform: rotateY(180deg);
      & > * {
        margin: 0 3rem;
      }

      &-title {
        margin: 5rem 0;
      }

      &-title h3:last-of-type {
        margin: 0;
      }

      em.tiny-text span {
        font-size: 1.3rem;
      }

      h3 {
        width: min-content;

        @include respond(xxxs){
          font-size: $big;
          font-weight: 600;
        }
      }
    }


    @include respond(xxs){
      height: 45rem;
    }

    @include respond(xxxs){
      height: 60rem;
    }
  }

  &:hover .card__side--front {
    transform: rotateY(-180deg);
  }

  &:hover .card__side--back {
    transform: rotateY(0deg);
  }

  @media only screen and (max-width: 50em), only screen and (hover: none) { //Because of hover:none this is not a @include respond()
    height: auto;
    width: 400px;
    &__side {
      position: relative;

      &--front {
        h3 {
          display: none;
        }
      }

      &--back {
        transform: rotateY(0);
        background: transparent;
        color: $color-white;
        position: absolute;

        h3{
          margin: 3rem;
        }

        em{
          
          margin-bottom: 2rem;
          &.tiny-text span{
            font-size: 15px;
          }

        }

        p, em{
          font-size: 18px !important;font-weight: 600;letter-spacing: 2px;
        }
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }
  }
}
