@import "../abstracts/functions";

.contact__box {
  max-height: 76.5rem;
  color: $color-white;
  display: flex;
  position: relative;
  overflow: hidden;

  &--form {
    background-color: $color-purple;
    width: 61.8%;
    display: flex;
    flex-direction: column;

    @include respond(xxxs) {
      background-color: $color-purple-transparent;
      width: 100%;
    }

    .form {
      &__group {
        position: relative;
        margin: 5rem 0 0 8rem;
      }

      &__input {
        background-color: transparent;
        color: $color-white;
        font-size: $small;
        width: 70%;
        padding: 0.7rem 0;
        border: none;
        outline: none;
        border-bottom: 1px solid $color-white;
        z-index: 1;
        font-family: inherit;

        &:focus {
          border-bottom: 2px solid $color-primary;
        }

        &:focus:invalid {
          border-bottom: 2px solid $color-red;
        }
      }

      &__label {
        opacity: 0;
        color: $color-white;
        font-size: $tiny;
        position: absolute;
        top: 1rem;
        left: 0;
        transition: all 0.3s;
        visibility: hidden;
      }
    }

    ::placeholder {
      color: $color-white;
    }

    h3 {
      margin: 7rem auto 1rem auto;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    .btn {
      background-color: $color-purple-light;
      width: fit-content;
      align-self: center;
      z-index: 2;
      font-size: $small;

      &:hover {
        background-color: $color-purple-dark;
      }
    }
  }

  &--picture {
    background-image: img("handshake.png");
    height: auto;
    width: 38.2%;
    background-size: cover;

    @include respond(xxxs) {
      position: absolute;

      height: 100vh;
      width: 100%;
      z-index: -1;
      top: -33rem;
    }
  }

  .spiral-ghost {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}
//For some reason this wouldn't work when nested in its proper place.
.form__input:not(:placeholder-shown) + .form__label {
  opacity: 1;
  visibility: visible;
  transform: translateY(-3rem);
}
