table {
  margin: 5rem;
  border-collapse: collapse;
  text-align: center
  ;
  tr > * {
    padding: 2rem;

    @include respond(xxxs){
      padding: 1rem;
    }
    @include respond(xxxxs){
      padding: 0.5rem;
    }
  }
  .in {
    border: 3px solid $color-primary;
  }

  .up {
    border-right: 3px solid $color-primary;
    border-left: 3px solid $color-primary;
    border-bottom: 5px solid $color-primary;
    &-corner {
      border-bottom: 5px solid $color-primary;
    }
  }

  .side {
    border-bottom: 3px solid $color-primary;
  }

  .down {
    border-right: 3px solid $color-primary;
    border-left: 3px solid $color-primary;
  }
}
