//for the ::after in the hover imgs
@keyframes blink {
    0%{
        opacity: 0.5;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1.01);
    }
    100%{
        opacity: 0.5;
        transform: scale(1);
    }
}


@keyframes beat {
    0% {
      transform: scale(0.98);
    }
    20% {
      transform: scale(1);
    }
    40% {
      transform: scale(0.98);
    }
    60% {
      transform: scale(1);
    }
    80% {
      transform: scale(0.98);
    }
    100% {
      transform: scale(0.98);
    }
  }
  