*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //Setting the default font-size to 10px
  font-size: 62.5%;
  background-color: $color-white;
  scroll-behavior: smooth;
  
  @include respond(tab-land) {
    //1200px
    font-size: 56.25%; //1rem=9px
  }

  @include respond(tab-port) {
    //900px
    font-size: 50%; //1rem=8px
  }

  @include respond(big-desktop) {
    //+1400px
    font-size: 75%; //1rem=12px
  }
}

body {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;

}

::selection {
  background-color: $color-primary;
  color: $color-red;
}
