//MEDIA QUERY MANAGER
/*
$breakpoint argument choices:

xxxs 400px
xxs 600px
xs 800px
s 1000px
m 1300px
l 1440px
xl 1800px

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == xxxxs {
    @media only screen and (max-width: 21.87em) {
      @content;
    } //350px
  }

  @if $breakpoint == xxxs {
    @media only screen and (max-width: 26.8em) {
      @content;
    } //428px
  }

  @if $breakpoint == xxs {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }

  @if $breakpoint == xs {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }

  @if $breakpoint == s {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }

  @if $breakpoint == m {
    @media only screen and (max-width: 81.25em) {
      @content;
    } //1300px
  }

  @if $breakpoint == l {
    @media only screen and (max-width: 90em) {
      @content;
    } //1440px
  }

  @if $breakpoint == xl {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800px
  }
}

//Unused
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin hover {
  width: 50%;
  margin: 3rem;
  position: relative;

  img {
    width: auto;
    height: 20rem;
    position: absolute;
    opacity: 0.4;
    transition: all 0.5s ease-in;

    &.secondary {
      opacity: 0;
      z-index: 1;
      transition: all 0.5s ease-in;
      &:hover ~ picture img {
        opacity: 1;
      }
    }
    &:hover {
      opacity: 1;
    }
  }

  &:hover::before {
    visibility: hidden;
  }
}

@mixin hoverMessage {
  &::before {
    content: "Pasa el mouse por encima";
    display: block;
    width: max-content;
    height: auto;
    color: $color-primary-dark-transparent;
    font-size: 1.6rem;
    animation: blink 1s infinite;
    animation-fill-mode: backwards;

    @include respond(xs) {
      content: "Hazme Click";
    }

    @include respond((xxxs)) {
      font-size: $small;
    }
  }
}

@mixin hoverPurpleBtn {
  border: 5px solid $color-primary;
  background-color: $color-purple-dark;
  transform: scale(1.1);
}

@mixin hoverGoldBtn {
  border: 5px solid $color-primary-light;
  background-color: $color-primary-dark;
  transform: scale(1.1);
}
