//Colors            un tono que me gusto #9537d477
$color-primary: #D4AF37;
$color-primary-transparent: #d4af3777;
$color-primary-transparent-less: #d4af37ea;
$color-primary-light: #E7C24A;
$color-primary-light-transparent: #f5d87877;
$color-primary-dark: #9D7800;
$color-primary-dark-transparent: #9d780077;

$color-black: #352B11;
$color-white: #f4f4f4;

$color-purple: #402A44;
$color-purple-light: #725C76;
$color-purple-dark: #16001A;

$color-red: #A0362B;
$color-red-light: #B3493E;
$color-red-dark: #750B00;

$color-green: #3FA388;

//Fonts-sizes
$tiny: 1.8rem;      //18px
$small: 2.4rem;     //24px
$regular: 3rem;     //30px
$medium: 3.8rem;    //38px
$big: 4.9rem;       //49px
$huge: 7.9rem;      //79px
  