//Colors
$color-primary: #D4AF37;
$color-primary-light: #E7C24A;
$color-primary-dark: #9D7800;

$color-black: #352B11;
$color-white: #f4f4f4;

$color-purple: #402A44;
$color-purple-light: #725C76;
$color-purple-dark: #16001A;

$color-red: #A0362B;
$color-red-light: #B3493E;
$color-red-dark: #750B00;

$color-green: #3FA388;
